{% load static %}
<html>
<head>
    <title>
        TITLE
    </title>
</head>
<body>
    <form action="/signup/" method="POST">
        {% csrf_token %}
        <input type="text"name="agent_id" id="agent_id" placeholder="enter your Agent_Id">
        <input type="password" name="password" id="password" placeholder="enter password">
        <input type="password" name="password1" id="password1" placeholder="enter password">
        <button type="submit" >register</button>
       {% for message in messages %}
	<h6>{{message}}</h6>
	{% endfor %}
    </form>
</body>
</html>